<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>dp</td><td>classlevelannotation.test2()[pri:0, instance:TestNGTutorial.classlevelannotation@553a3d88]<br/></td></tr>
</table>
