<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94e299">  <td>20/03/09 02:26:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="classlevelannotation.test1()[pri:0, instance:TestNGTutorial.classlevelannotation@553a3d88]">test1</td> 
  <td>main@999609945</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>20/03/09 02:26:20</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="classlevelannotation.test2()[pri:0, instance:TestNGTutorial.classlevelannotation@553a3d88]">test2</td> 
  <td>main@999609945</td>   <td></td> </tr>
</table>
