<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94e299">  <td>20/03/09 03:26:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parallel.test2()[pri:0, instance:Paralleltesting.Parallel@23fe1d71]">test2</td> 
  <td>TestNG-test=Test-2@1047743198</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>20/03/09 03:26:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parallel.test1()[pri:0, instance:Paralleltesting.Parallel@23fe1d71]">test1</td> 
  <td>TestNG-test=Test-1@1116424609</td>   <td></td> </tr>
</table>
